.mif-eol::before {
	content: url("./icons/eol.png");
}

.mif-flock::before {
	content: url("./icons/flock.png");
}

.mif-egl::before {
    content: url("./icons/egl.png");
}

.mif-egx::before {
    content: url("./icons/egx.png");
}

.mif-etl::before {
    content: url("./icons/etl.png");
}

.mif-epl::before {
    content: url("./icons/epl.png");
}

.mif-evl::before {
    content: url("./icons/evl.png");
}

.mif-flexmi::before {
    content: url("./icons/flexmi.png");
}

.mif-emfatic::before {
    content: url("./icons/emfatic.png");
}

.mif-json::before {
	content: url("./icons/json.png");
}

.mif-eml::before {
    content: url("./icons/eml.png");
}

.mif-ecl::before {
    content: url("./icons/ecl.png");
}

.mif-emg::before {
    content: url("./icons/emg.png");
}

.mif-pinset::before {
    content: url("./icons/pinset.png");
}
