name: Docker images from Git tags

on:
  workflow_dispatch:
  schedule:
    # Weekly rebuild of Docker image
    - cron: '12 17 * * 4'

concurrency:
  group: tagged-docker-image
  cancel-in-progress: true

env:
  AWS_REGION: us-east-1

permissions:
  contents: read
  packages: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - version: 0.1
            javaVersion: 17.0.9
            nodeVersion: 16.x
            epsilonVersion: 2.5.0
            dockerTags: 0.1-epsilon2.5
          - version: 0.1
            javaVersion: 17.0.9
            nodeVersion: 16.x
            epsilonVersion: 2.6.0
            epsilonTag: 0.1,0.1-epsilon2.6
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ matrix.version }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.javaVersion }}
        distribution: 'graalvm'
    - name: Set up Node
      uses: actions/setup-node@v4.0.2
      with:
        node-version: ${{ matrix.nodeVersion }}
    - name: Install Node dependencies
      run: npm ci
      working-directory: ./ep-tool-server
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
    - name: Build with Gradle
      run: |
        ./gradlew clean build dockerPush -P "epsilonVersion=${{ matrix.epsilonVersion }}" -P "dockerTags=${{ matrix.dockerTags }}"
